<div class='icon-outline'>
  <div class='status'>
      <%= link_to image_tag("user.png", size: '50x50' ), class: "icon" %>
      <%= link_to image_tag("sign_in.png", size: '50x50' ), class: "icon" %>
      <%= link_to image_tag("home.png", size: '50x50' ), class: "icon" %>
      <%= link_to image_tag("recycle.png", size: '50x50' ), class: "icon" %>
      <%= link_to image_tag("create.png", size: '100x100' ), class: "icon" %>
  </div>
</div>